<nav>
  <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>خانه</a>  |
  <a href="{{ '/blog/' | relative_url }}" {% if page.url contains '/blog/' and page.kind != 'news' %}class="active"{% endif %}>یادداشت‌ها</a>  |
  <a href="{{ '/news/' | relative_url }}" {% if page.kind == 'news' or page.url == '/news/' %}class="active"{% endif %}>اخبار</a>  |
  <a href="{{ '/logbook/' | relative_url }}" {% if page.url contains '/logbook/' %}class="active"{% endif %}>گزارش صعود</a>
</nav>
