<nav>
  <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>خانه</a>
  <a href="{{ '/blog/' | relative_url }}" {% if page.url contains '/blog/' %}class="active"{% endif %}>یادداشت‌ها</a>
  <a href="{{ '/logbook/' | relative_url }}" {% if page.url contains '/logbook/' %}class="active"{% endif %}>گزارش صعود</a>
</nav>


<!--
<div class="links scroll">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="https://blog.kavehrs.com/">Blog</a>+

</div>
-->

<!--

<div class="links scroll">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <a href="{{site.baseurl}}/blog/">Blog</a>
        <a href="{{site.baseurl}}/archive/">Archive</a>
</div>
-->
