{% assign default_img = site.logo | default: '/assets/images/logos/1/kavehrs.jpg' %}
{% if page.image.path %}
  {% assign page_img = page.image.path %}
{% else %}
  {% assign page_img = page.image %}
{% endif %}
{% if page_img and page_img != empty and page_img != default_img %}
  {% assign article_image = page_img %}
{% else %}
  {% assign article_image = nil %}
{% endif %}

{% if page.url == '/' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "name": {{ page.title | jsonify }},
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "inLanguage": "fa-IR",
  "mainEntity": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "alternateName": {{ site.title | jsonify }},
    "url": "{{ site.url }}{{ site.baseurl }}/",
    "jobTitle": {{ site.tagline | jsonify }},
    "sameAs": [{% for link in site.social.links %}{{ link | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]
  }
}
</script>
{% endif %}

{% if page.collection == 'blog' %}
{% if page.note_kind == 'technical' %}
  {% assign crumb_hub_name = 'یادداشت‌های فنی' %}
  {% assign crumb_hub_url = '/tech/' | absolute_url %}
{% else %}
  {% assign crumb_hub_name = 'یادداشت‌های شخصی' %}
  {% assign crumb_hub_url = '/notes/' | absolute_url %}
{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "خانه",
      "item": "{{ site.url }}{{ site.baseurl }}/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ crumb_hub_name | jsonify }},
      "item": {{ crumb_hub_url | jsonify }}
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": {{ page.title | jsonify }},
      "item": {{ page.url | absolute_url | jsonify }}
    }
  ]
}
</script>
{% endif %}

{% if page.url == '/notes/' or page.url == '/tech/' or page.url == '/blog/' %}
{% assign hub_items = site.blog %}
{% if page.url == '/notes/' %}
  {% assign hub_items = site.blog | where: "note_kind", "personal" %}
{% elsif page.url == '/tech/' %}
  {% assign hub_items = site.blog | where: "note_kind", "technical" %}
{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "url": "{{ page.url | absolute_url }}",
  "inLanguage": "fa-IR",
  "isPartOf": {
    "@type": "WebSite",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}{{ site.baseurl }}/"
  },
  "about": [
    {"@type": "Thing", "name": "یادداشت شخصی"},
    {"@type": "Thing", "name": "یادداشت فنی"},
    {"@type": "Thing", "name": "برنامه‌نویسی"},
    {"@type": "Thing", "name": "لینوکس"},
    {"@type": "Thing", "name": "مانیتورینگ"}
  ],
  "mainEntity": {
    "@type": "ItemList",
    "numberOfItems": {{ hub_items.size }},
    "itemListElement": [
      {% assign hub_sorted = hub_items | sort: "date" | reverse %}
      {% for post in hub_sorted %}
      {
        "@type": "ListItem",
        "position": {{ forloop.index }},
        "url": {{ post.url | absolute_url | jsonify }},
        "name": {{ post.title | jsonify }}
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
}
</script>
{% endif %}
