---
layout: compress
---
<!DOCTYPE html>
{% assign page_dir = "rtl" %}
{% if page.url == "/" or page.url == "/index.html" %}
    {% assign page_dir = "ltr" %}
{% endif %}
<html lang="{{ site.lang | default: 'en' }}" dir="{{ page_dir }}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
        <div>
            <h1 class="post-headline" style="margin: 0;">{{ site.title }}</h1>
            <h3 class="post-description" style="margin: 0;">{{ site.description }}</h3>
        </div>
        <div>
            {% include navigation.html %}
        </div>
    </div>

    {% seo %}
    {% include favicon.html %}

    <script type="text/javascript">
        (function() {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>

</head>

<body>
    <main>
        <article>
            {{ content }}
        </article>
    </main>

    <footer>
        <p class="copy">
            <small> &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                | آخرین بروزرسانی: {{ site.time | date_to_long_string }}
            </small>
        </p>
        {% include social-footer.html %}
    </footer>

    {% include analytics.html %}
</body>

</html>